doctype 5
html
	head
		title Beacon - The New Map-Based Social Media

		meta(name='description', content='Place a Beacon on a map to let your friends know where and what you want to do. Planning spontaneous events has never been so easy!')
		meta(name='keywords', content='map, social media, event, events, beacon, beacons, friends, google maps, organize, plan, beacon events')

		link(rel='stylesheet', href='/style/bootstrap.css')
		link(rel='stylesheet', href='/style/home.css')
	body
		//- Facebook SDK
		div#fb-root
		script(src='/js/fb-sdk.js')

		//- Rest of the Document
		div#header
			h2.title Beacon

			h2.text-right.title2 ADMIN

		div#map
			div#map-canvas
			input#searchTextField(type='text', size='50')

		form#publicBeacon
			input(type='text', name='host', placeholder='Host Name')
			input(type='text', name='title', placeholder='My Event!')
			//- input.input-long(type='text', name='description', placeholder='Write your Event description here.')
			input.btn.btn-success(type='submit', value='Place Beacon')
		div#adminButtons
			//- button#removePublic.btn.btn-danger Disband Public
			button#removeAll.btn.btn-danger Disband All

		ul#beacon-list



		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/js/jQuery/jquery-1.10.2.min.js')
		script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')

		script(src='/js/client-beacon.js')
		script(src='/js/beaconKeeper.js')

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD8q1aRi08lwTQg5gFvDJWtpcTkuHgS-zU&sensor=true&libraries=places')
		
		script(src='/js/googleMaps.js')
		script(src='/js/admin-controller-fromClient.js')
		script(src='/js/admin-controller-fromServer.js')
		script(src='/js/admin-view.js')

