doctype 5
html
	head
		title Fizz

		meta(name="viewport" content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/style/home.css')

	body
		div#thread-list

		//- Magic Socket IO Code
		script(type='text/javascript', src='/socket.io/socket.io.js')
		//- JQuery
		script(type='text/javascript', src='/js/jQuery/jquery-1.11.0.min.js')
		
		//- My JS Files
		// script(src='/js/home/event.js')
		// script(src='/js/home/eventList-manager.js')
		// script(src='/js/home/facebook-controller.js')
		// script(src='/js/home/myInfo-manager.js')
		// script(src='/js/home/leafletClustering.js')
		// script(src='/js/home/marker-manager.js')
		// script(src='/js/home/mapbox-controller.js')
		// script(src='/js/home/foursquare-controller.js')

		// script(src='/js/home/eventList-html.js')
		// script(src='/js/home/timeline-html.js')
		// script(src='/js/home/view.js')
		// script(src='/js/home/detail-view.js')
		// script(src='/js/home/controller.js')
		// script(src='/js/home/server-listener.js')
		// script(src='/js/home/onload.js')

