doctype 5
html
	head
		title Fizz

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/style/home.css')

	body
		img#collapse(src='/img/collapse.png')

		ul#thread-list

		//- Magic Socket IO Code
		script(src='/socket.io/socket.io.js')

		//- JQuery
		script(src='/js/jQuery/jquery-1.11.0.min.js')

		//- Facebook
		script(src='/js/home/facebook-controller.js')

		//- View
		script(src='/js/home/scroll-manager.js')
		script(src='/js/home/detail-controller.js')
		script(src='/js/home/collapse-controller.js')

		//- User objects
		script(src='/js/home/user.js')
		script(src='/js/home/userList-manager.js')

		//- My Info
		script(src='/js/home/myInfo-manager.js')

		//- Message objects

		//- Event objects

		//- DOM
		// dom-controller
		script(src='/js/home/dom-manager.js')

		//- Server




		// script(src='/js/home/event.js')
		// script(src='/js/home/eventList-manager.js')
		// script(src='/js/home/facebook-controller.js')
		// script(src='/js/home/myInfo-manager.js')
		// script(src='/js/home/leafletClustering.js')
		// script(src='/js/home/marker-manager.js')
		// script(src='/js/home/mapbox-controller.js')
		// script(src='/js/home/foursquare-controller.js')

		// script(src='/js/home/eventList-html.js')
		// script(src='/js/home/timeline-html.js')
		// script(src='/js/home/view.js')
		// script(src='/js/home/detail-view.js')
		// script(src='/js/home/controller.js')
		// script(src='/js/home/server-listener.js')
		// script(src='/js/home/onload.js')