doctype 5
html
	head
		title Beacon - The New Map-Based Social Media

		meta(name='description', content='Place a Beacon on a map to let your friends know where and what you want to do. Planning spontaneous events has never been so easy!')
		meta(name='keywords', content='map, social media, event, events, beacon, beacons, friends, google maps, organize, plan, beacon events')

		link(rel='stylesheet', href='/style/index.css')

	body
		div#header
			h2.title Beacon

		div#banner
			div.bannerContent
				img.bannerImg(src='/img/computer.png', alt='Computer Graphic displaying a map with Beacons')
				div.bannerTextBox
					h2.bannerTitle Come Together
					h2.bannerTitle Right Now
					h2.bannerTitle.hidden Over Me
					img.tm50(src='/img/facebook.png', alt='Disabled Facebook Login Button')
				div.clear-both

		div.contentBox
			h1.contentBoxTitle.text-center What is Beacon?
			hr
			p.text-justify Beacon is a map based social network for impromptu events. Using either the web or mobile app, friends’ events appear on your map, letting you know an event is happening nearby and who is attending. 

			p.text-justify Rather than setting up a Facebook event or mass texting your friends, Beacon offers an easier solution. But more than that, Beacon acts as an initiator, making accidental hangouts a thing. 

			p.text-justify We provide the structure to bring people together, let your Facebook friends or Twitter followers know where your event is happening, and manage any payments through Venmo integration.

		//-div.contentBox.videoBox
			//-iframe.vid(src="//www.youtube.com/embed/XLjcXys0v-o", frameborder="0", allowfullscreen)

		div.contentBox
			img.floatRight(src='/img/party2.png', alt='Party Balloon Graphic')
			h3.contentBoxTitle Skip the Hassle
			hr.float-left
			p.text-left.clear-left Beacon keeps casual events simple. Check your news feed for nearby events planned with friends. Or start the party by suggesting an event.

		div.contentBox
			img.floatLeft(src='/img/unplug2.png', alt='Unplug Graphic')
			h3.contentBoxTitle.text-right Connect Offline
			hr.float-right
			p.text-right.clear-right Meet up face to face with ease. Spend less time online and more where it really matters, with friends and family. 

		div.contentBox
			img.floatRight(src='/img/megaphone2.png', alt='Megaphone Graphic')
			h3.contentBoxTitle Get the Word Out
			hr.float-left
			p.text-left.clear-left With integrated Twitter and Facebook use, it’s easy to let your friends know where to be.

		div.contentBox
			img.floatLeft(src='/img/iPhone2.png', alt='iPhone Graphic')
			h3.contentBoxTitle.text-right On The Go
			hr.float-right
			p.text-right.clear-right Organize events on the fly with the Beacon iPhone app. 



		//-script(type='text/javascript', src='/js/jQuery/jquery-1.10.2.min.js')
		//-script(type='text/javascript', src='/js/index-controller.js')

