doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1, minimum-scale=1")
    title(Fizz — Tropical Tuesday at Brillobox tomorrow at 9)
    link(href="/style/screen.css", rel="stylesheet", type="text/css", media="screen")
    link(href="/style/print.css", rel="stylesheet", type="text/css", media="print")
    script(src="/scripts/jquery.js")
    script(src="/scripts/client.js")
  body
    article
      header
        author= creator.name+" invited you to"
        h1=event.description
      
      section.guestlist
        h1 Guestlist
        ul.interested
          each user in guestList
            li=user.name

        ul.noReply
          each user in noReply
            li=user.name
        
      
      section.rsvp
        h1 Join this event
        form(action="", method="post")
          p
            input(type="text", value="First")
            input(type="text", value="Last")
          p
            input(type="phone", value="number")
        //- h1
        //-   | You’ve added yourself
        //-   br
        //-   | to the guestlist.
        //- p Fizz is the best way to get people together to do things.
        //- form(action="", method="post")
        //-   input(name="", type="button", value="Get it on the App Store")
        
      
    
  
