doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1, minimum-scale=1")
    title(Fizz — Tropical Tuesday at Brillobox tomorrow at 9)
    link(href="./style/screen.css", rel="stylesheet", type="text/css", media="screen")
    link(href="./style/print.css", rel="stylesheet", type="text/css", media="print")
    script(src="./scripts/jquery.js")
    script(src="./scripts/client.js")
  body
    article
      header
        author Christina Kang invited you to
        h1 Tropical Tuesday at Brillobox tomorrow at 9
      
      section.guestlist
        h1 Guestlist
        ul.interested
          li Cedrick Durfee
          li Oren Asay
          li Sid Bumbalough
          li Bernardina Ree
          li Jerrell Lehrer
          li Dorothea Hutter
          li Juliet Mattix
          li Orville Trunzo
          li Shawanda Gosse
        
        ul.noReply
          li Denice Lavigne
          li Idell Morace
          li Felisha Kilday
          li Concetta Morehouse
          li Maegan Hochstetler
          li Thomas Pera
          li Bryan Velarde
          li Brenda Plumer
          li Jeanett Greaney
          li Frances Siddiqui
          li Randell Labonte
          li Jada Godinez
          li Lauri Billy
          li Austin Larusso
          li Magaret Rohlfing
          li Lucina Weatherby
          li Marsha Amodeo
        
      
      section.rsvp
        h1 Join this event
        form(action="", method="post")
          p
            input(type="text", value="First")
            input(type="text", value="Last")
          p
            input(type="phone", value="number")
        h1 You’ve added yourselfbr to the guestlist.
        p Fizz is the best way to get people together to do things.
        form(action="", method="post")
          input(name="", type="button", value="Get it on the App Store")
        
      
    
  
