/*
	Generic CSS
*/

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: orange;
}

.hidden { 
	display: none !important;
	visibility: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 12px;
}

ul {
	list-style: none;
}

input { padding: 0 4px; }
.input-long { width: 300px; }

.text-left    { text-align: left;    }
.text-center  { text-align: center;  }
.text-right   { text-align: right;   }
.text-justify { text-align: justify; }

.float-left   { float: left;  }
.float-right  { float: right; }

.clear-both   { clear: both;  }
.clear-left   { clear: left;  }
.clear-right  { clear: right; }


/*
	Header
*/

#header {
	height: 80px;
	width: 100%;
}

	#header .title {
		position: absolute;
		font-size: 32px;
		margin-top: 10px;
		margin-left: 15px;
	}

	#header .title2 {
		position: absolute;
		font-size: 32px;
		right: 0;
		margin-top: 10px;
		margin-right: 15px;
	}


/*
	Map
*/

#map {
	position: relative;
	width: inherit;
	height: 400px;	
}

	#map-canvas {
		width: inherit;
		height: inherit;
	}

	#searchTextField {
		height: 25px;
		width: 400px;

		margin: 8px auto 0 auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}


/*
	Beacon Creator
*/

#myBeacon {
	position: relative;
	text-align: center;
	padding: 5px;
}

#publicBeacon {
	position: relative;
	text-align: center;
	padding: 5px;
}


/*
	Beacon List
*/

#beacon-list {
	text-align: center;
	padding: 5px;
	margin: 0 auto;
}

	.event {
		width: 250px;
		margin: 5px;
		padding: 5px;
		border-radius: 3px;
		background-color: #FF8C00;
		float: left;
	}










