/*
	General CSS
*/

* {
	font-family: Verdana;

	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	background-color: black;
	overflow: auto;

	height: 100vh;
	width: 100%;

	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	overflow-y: auto;
}

.hidden { 
	display: none !important;
	visibility: hidden !important;
}

/*
	collapse button
*/

#collapse {
	position: fixed;
	top: 10px;
	left: 10px;

	z-index: 200;

	width: 50px;
	height: 50px;

	cursor: pointer;
}


/*
	thread-list
*/

#thread-list {
	height: 100%;
	width: 100%;

	background-color: darkgrey;
}

.thread-top {
	top: 0;
	padding-bottom: 15px;
}

.thread-bot {
	bottom: 0;
	padding-top: 15px;
}

.thread {
	position: relative;
	font-size: 0.8em;

	overflow: hidden;

	text-align: center;

	height: 100vh;
	width: 100%;

	/*padding-top: 5vh;
	padding-bottom: 5vh;*/

	display: flex;
	flex-direction: column;

	background-color: rgb(255,255,255);
}

.thread-title {
	/*position: absolute;*/
	display: block;
	height: 6vh;
	padding: 2vh;

	font-weight: bold;

	cursor: pointer;
	z-index: 100;
}

.invite-list {
	/*flex: 1 0 0;*/
	display: block;
	height: 45vh;
	/*background-color: rgba(50,50,180,0.7);*/
}

.guest-list {
	/*flex: 1 0 0;*/
	display: block;
	height: 45vh;
	/*background-color: rgba(50,180,50,0.7);*/
}

.guest-list img, .invite-list img {
	height: 8vw;
	width: 8vw;
	border-radius: 50%;
	float: left;
	padding: 5px;
}

/*
	message-chain
*/

.message-chain {
	background-color: orange;
	position: relative;

	height: 0;

	text-align: left;

	display: flex;
	flex-direction: column;
}

.message-list {
	flex: 1 0 0;
}

.message {
	padding: 0.5em;
	min-height: 8vw;
}

.message-pic {
	float: left;
	border-radius: 50%;
	height: 8vw;
	width: 8vw;
}

.message-time {
	font-size: 0.4em;
	float: right;
	color: gray;
}

.message-name, .message-text {
	font-size: 0.8em;
	padding-left: 10vw;
}

.message-name {
	font-weight: bold;
	padding-bottom: 0.2em;
}

.message-form {
	margin-left: 60px;
	padding: 0.5em;
	/*overflow-y: scroll;*/
}

@media all and (min-width: 600px) {

	.guest-list img, .invite-list img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		float: left;
		padding: 5px;
	}

	.message-pic {
		float: left;
		border-radius: 50%;
		height: 50px;
		width: 50px;
	}

	.message-name, .message-text {
		font-size: 0.8em;
		padding-left: 60px;
	}

}

/*
@media all and (min-width: 600px) and (max-width: 1199px) {

	

}

@media all and (min-width: 1200px) {

	

}
*/

