/*
	Generic CSS
*/

* {
	margin: auto;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.hidden { 
	display: none !important;
	visibility: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 12px;
}

.text-left    { text-align: left;    }
.text-center  { text-align: center;  }
.text-right   { text-align: right;   }
.text-justify { text-align: justify; }

hr {
	border: none;
	background-color: #bbb;
	height: 2px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.float-left  { float: left;  }
.float-right { float: right; }

.clear-both  { clear: both; }
.clear-left  { clear: left;  }
.clear-right { clear: right; }


/* 
	Header 
*/

#header {
	height: 60px;
	width: 100%;
}

	#header .title {
		position: absolute;
		font-size: 32px;
		color: gray;
		margin-top: 10px;
		margin-left: 15px;
	}


/* 
	Banner 
*/

#banner {
	height: auto;
	min-height: 420px;
	width: 100%;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F5C839 0%, #F49809 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F5C839 0%, #F49809 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5C839), color-stop(1, #F49809));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F5C839 0%, #F49809 100%);
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F5C839 0%, #F49809 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F5C839 0%, #F49809 100%);
	/* Last Ditch attempt for IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5C839, endColorstr=#F49809)
}

	img.bannerImg {
		float: left;
		margin-right: 40px;
		margin-bottom: 20px;
	}

	img.tm50 {
		margin-top: 50px;
	}

	.bannerContent {
		height: inherit;
		text-align: center;
		padding: 20px;
		max-width: 950px;
		margin: auto;
	}

	.bannerTextBox {
		display: block
	}
		
		.bannerTitle {
			display: block;
			font-size: 50px;
		}


/* 
	Content 
*/

.contentBox {
	display: block;
	clear: both;
	padding: 20px;
	max-width: 750px;
	margin: auto;
}

	img.floatLeft {
		float: left;
		margin-right: 100px;
		margin-bottom: 20px;
	}

	img.floatRight {
		float: right;
		margin-left: 100px;
		margin-bottom: 20px;
	}

h3.center {
	font-size: 50px;
	text-align: center;
}

	.contentBoxTitle {
		font-size: 40px;
		color: orange;
	}

	.centerLine {
		border: none;
		background-color: #bbb;
		height: 2px;
		width: 200px;
	}

	.contentBox p.text-left {
		margin-top: 50px;
	}

	.contentBox p.text-right {
		margin-top: 50px;
	}

.videoBox {
	height: 500px;
	margin-bottom: 20px;
}

.vid {
	width: 630px;
	height: 460px;
	position: absolute;
	left: 50%;
	margin-left: -315px;
}


