/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
}

/* line 20, ../sass/globals/_type.scss */
body {
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
  color: white;
}
/* line 24, ../sass/globals/_type.scss */
body em {
  font-family: "Futura-MediumItalic";
}
/* line 28, ../sass/globals/_type.scss */
body a {
  text-decoration: none;
  color: white;
}
/* line 35, ../sass/globals/_type.scss */
body figure h1 {
  font-family: "Futura-MediumItalic";
}
/* line 41, ../sass/globals/_type.scss */
body .small-caps {
  font-size: .6em;
  font-family: "FuturaStd-Bold";
  letter-spacing: .25em;
  margin-right: -.25em;
  text-transform: uppercase !important;
}

/* line 3, ../sass/_layout.scss */
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: -webkit-linear-gradient(red 0%, #ffb700 100%) fixed;
  position: relative;
}
/* line 10, ../sass/_layout.scss */
body article {
  height: 100vw;
  width: 100vw;
  position: relative;
  margin-left: 0.5rem;
  -webkit-transition: 0.5s 0.5s linear;
  -moz-transition: 0.5s 0.5s linear;
  -o-transition: 0.5s 0.5s linear;
  transition: 0.5s 0.5s linear;
  -webkit-transition-property: -webkit-filter;
  -moz-transition-property: -webkit-filter;
  -o-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
}
/* line 18, ../sass/_layout.scss */
body article.blur {
  -webkit-filter: blur(2em);
}
/* line 22, ../sass/_layout.scss */
body article header {
  display: inline-block;
  margin-left: -0.25rem;
}
/* line 26, ../sass/_layout.scss */
body article header h1 {
  text-transform: lowercase;
  font-family: "Futura-MediumItalic";
  line-height: 1.25em;
  font-size: 10vw;
  letter-spacing: -.046875em;
  margin-bottom: .5em;
  margin-top: 0.25em;
}
@media screen and (max-aspect-ratio: 3 / 4) {
  /* line 26, ../sass/_layout.scss */
  body article header h1 {
    font-size: 15vw;
  }
}
@media screen and (max-aspect-ratio: 2 / 3) {
  /* line 26, ../sass/_layout.scss */
  body article header h1 {
    font-size: 17vw;
  }
}
@media screen and (min-aspect-ratio: 3 / 2) {
  /* line 26, ../sass/_layout.scss */
  body article header h1 {
    font-size: 9vw;
  }
}
@media screen and (min-aspect-ratio: 16 / 9) {
  /* line 26, ../sass/_layout.scss */
  body article header h1 {
    font-size: 6vw;
  }
}
/* line 32, ../sass/_layout.scss */
body article header author {
  font-size: .6em;
  font-family: "FuturaStd-Bold";
  letter-spacing: .25em;
  margin-right: -.25em;
  text-transform: uppercase !important;
  font-family: "FuturaStd-BoldOblique";
}
/* line 40, ../sass/_layout.scss */
body article section.guestlist h1 {
  font-size: .6em;
  font-family: "FuturaStd-Bold";
  letter-spacing: .25em;
  margin-right: -.25em;
  text-transform: uppercase !important;
}
/* line 44, ../sass/_layout.scss */
body article section.guestlist ul {
  text-transform: lowercase;
  position: relative;
  margin-bottom: .25em;
}
/* line 50, ../sass/_layout.scss */
body article section.guestlist ul.noReply {
  opacity: .5;
}
/* line 55, ../sass/_layout.scss */
body article section.rsvp {
  position: fixed;
  right: 0.5rem;
  bottom: 0.75rem;
  z-index: 3;
}
/* line 61, ../sass/_layout.scss */
body article section.rsvp a {
  font-size: 2em;
  /*     border-bottom: .09375em white solid; */
  width: auto;
  display: inline-block;
  /*     padding-bottom: .125em */
  text-transform: lowercase;
  font-family: "Futura-MediumItalic";
  line-height: 1.25em;
  font-size: 10vw;
  letter-spacing: -.046875em;
  font-family: "Futura-MediumItalic";
  opacity: 1;
  position: relative;
}
@media screen and (max-aspect-ratio: 3 / 4) {
  /* line 61, ../sass/_layout.scss */
  body article section.rsvp a {
    font-size: 15vw;
  }
}
@media screen and (max-aspect-ratio: 2 / 3) {
  /* line 61, ../sass/_layout.scss */
  body article section.rsvp a {
    font-size: 17vw;
  }
}
@media screen and (min-aspect-ratio: 3 / 2) {
  /* line 61, ../sass/_layout.scss */
  body article section.rsvp a {
    font-size: 9vw;
  }
}
@media screen and (min-aspect-ratio: 16 / 9) {
  /* line 61, ../sass/_layout.scss */
  body article section.rsvp a {
    font-size: 6vw;
  }
}
/* line 69, ../sass/_layout.scss */
body article section.rsvp a:hover {
  opacity: .5;
}
/* line 76, ../sass/_layout.scss */
body article section.rsvp form input {
  background: none;
  outline: none;
  border: 0;
  padding: .25em 0;
  font-family: "Futura", serif;
  font-size: 12pt;
  line-height: 1.5em;
  color: white;
  border-bottom: 1pt white solid;
  text-transform: lowercase;
  font-family: "Futura-MediumItalic";
}
/* line 87, ../sass/_layout.scss */
body article section.rsvp form input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 95, ../sass/_layout.scss */
body .modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.5s 0.5s linear;
  -moz-transition: 0.5s 0.5s linear;
  -o-transition: 0.5s 0.5s linear;
  transition: 0.5s 0.5s linear;
  -webkit-transition-property: opacity, -webkit-filter;
  -moz-transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  padding-left: 0.5rem;
  opacity: 0;
  left: 100vw;
  -webkit-filter: blur(2em);
}
/* line 104, ../sass/_layout.scss */
body .modal.open {
  opacity: 1;
  left: 0;
  -webkit-filter: none;
}
/* line 110, ../sass/_layout.scss */
body .modal h1 {
  text-transform: lowercase;
  font-family: "Futura-MediumItalic";
  line-height: 1.25em;
  font-size: 10vw;
  letter-spacing: -.046875em;
  margin-top: 0.25em;
}
@media screen and (max-aspect-ratio: 3 / 4) {
  /* line 110, ../sass/_layout.scss */
  body .modal h1 {
    font-size: 15vw;
  }
}
@media screen and (max-aspect-ratio: 2 / 3) {
  /* line 110, ../sass/_layout.scss */
  body .modal h1 {
    font-size: 17vw;
  }
}
@media screen and (min-aspect-ratio: 3 / 2) {
  /* line 110, ../sass/_layout.scss */
  body .modal h1 {
    font-size: 9vw;
  }
}
@media screen and (min-aspect-ratio: 16 / 9) {
  /* line 110, ../sass/_layout.scss */
  body .modal h1 {
    font-size: 6vw;
  }
}
/* line 115, ../sass/_layout.scss */
body .modal a {
  text-transform: lowercase;
  font-family: "Futura-MediumItalic";
  line-height: 1.25em;
  font-size: 10vw;
  letter-spacing: -.046875em;
  position: fixed;
  left: 0.5rem;
  bottom: 0.75rem;
  font-family: "Futura-MediumItalic";
}
@media screen and (max-aspect-ratio: 3 / 4) {
  /* line 115, ../sass/_layout.scss */
  body .modal a {
    font-size: 15vw;
  }
}
@media screen and (max-aspect-ratio: 2 / 3) {
  /* line 115, ../sass/_layout.scss */
  body .modal a {
    font-size: 17vw;
  }
}
@media screen and (min-aspect-ratio: 3 / 2) {
  /* line 115, ../sass/_layout.scss */
  body .modal a {
    font-size: 9vw;
  }
}
@media screen and (min-aspect-ratio: 16 / 9) {
  /* line 115, ../sass/_layout.scss */
  body .modal a {
    font-size: 6vw;
  }
}
