body {
    min-height:             100vh;
    overflow-x:             hidden;
    background:             -webkit-linear-gradient(#ff0000 0%, #ffb700 100%);
    background-attachment:  fixed;
    position:               relative;
    
    article {
        position:           relative;
        margin-left:        $fixedGutter;
        @include transition(.5s .5s linear);
        @include transition-property(-webkit-filter);
        
        &.blur {
            -webkit-filter: blur(2em);
        }

        header {
            display:    inline-block;
            margin-left: -$fixedGutter/2;
            
            h1 {
                @include bigTitle;
                margin-bottom: .5em;
                margin-top: $mainTitleTopMargin;
            }

            author {
                @include smallCaps;
                font-family: $fontBoldItalic;
            }
        }
        
        section.guestlist {
            
            section {
                h1 {
                    @include smallCaps;
                }
                
                ul {
                    text-transform: lowercase;
                    position: relative;
                    margin-bottom: .25em;
                }
                
                &.interested {
                    ul {
                        li {
                            &:nth-child(1) { // Host
                                font-family: $fontItalic;
                            }
                        }
                    }
                }
                
                &.noReply {
                    opacity: .5;
                }
            }
        }
        
        section.rsvp {
            position: fixed;
            right: $fixedGutter;
            bottom: $baseline/2;
            z-index: 3;
            
            a {
                @include button;
                @include bigTitle;
//                 @include smallCaps;  
                font-family: $fontItalic;         
                opacity: 1;
                position: relative;
                        
                &:hover {
                    opacity: .5;
                }
            }

            form {
                            
                input {
                    background: none;
                    outline:    none;
                    border:     0;
                    padding: .25em 0;
                    @include typeBody;
                    color: white;
                    border-bottom: 1pt $colorWashLight solid;
                    text-transform: lowercase;
                    font-family: $fontItalic;
                    
                    &:focus {
                        background-color: $colorWashLightTrans;
                    }
                }
            }
        }
    }
    
    .modal {
        @include modal;
        @include transition(.5s .5s linear);
        @include transition-property(opacity, -webkit-filter);
        padding-left: $fixedGutter;
        opacity: 0;
        left: 100vw;
        -webkit-filter: blur(2em);
        
        &.open {
            opacity: 1;
            left: 0;
            -webkit-filter: none;
        }
        
        h1 {
            @include bigTitle;
            margin-top: $mainTitleTopMargin;
        }
        
        a {
            @include bigTitle;
            position: fixed;
            left: $fixedGutter;
            bottom: $baseline/2;
            font-family: $fontItalic;
        }
    }
}